<div class="childOne_box">
    <h2>Child One</h2>

    <div>
        <h3>Passed by parent: {{name}}</h3>
    </div>
    
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit temporibus eaque dicta, recusandae optio deleniti quasi consequatur voluptate omnis quae suscipit nemo libero provident quos velit impedit eos nisi hic. At debitis cum beatae ullam veritatis accusamus. Blanditiis ipsum voluptates, dignissimos nisi eius sequi odio eveniet sint! Animi magnam natus quo aliquid possimus praesentium accusantium sed deleniti iusto, non architecto est adipisci, quisquam dolorem aspernatur distinctio sunt. Culpa, impedit esse quaerat veritatis facilis beatae non fugiat. 
    </p>

    <button (click)="sendMessage()">Send Message to Parent</button>
     <input type="text" (keypress)="sendMessage2($event)" placeholder="Enter your message" />
</div>