<div class="p-4 border rounded-md shadow-md">
    <div class="grid grid-cols-5 ">

        <h2 class="text-xl font-semibold col-span-2">Dynamic Reactive Form Creation Tool</h2>
        <button
            class="col-start-6 bg-cyan-700 text-white font-bold px-2 py-2 rounded-2xl cursor-pointer"
            (click)="generateForm()">
            Generate Form
        </button>
    </div>
    <div class="flex mb-2">
        <div>
            <label for="formName" class="block text-xs font-medium text-gray-500 mb-1">Form Name (max: 25
                characters)</label>
            <input type="text" maxlength="25"
                class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600"
                [(ngModel)]="this.formSchema().formName">
        </div>
        <div class=" ml-3 grow">
            <label for="formDescription" class="block text-xs font-medium text-gray-500 mb-1">Form Description (max: 100
                characters)</label>
            <input type="textarea" maxlength="100"
                class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600"
                [(ngModel)]="this.formSchema().description">
        </div>
    </div>

    <div class="flex gap-4 mb-4" >
        <button
            class=" bg-green-500 hover:bg-green-700 text-white font-bold  px-2 py-2 rounded-2xl cursor-pointer"
            (click)="addGroup()">
            Add New Group
        </button>
        <button
            class=" bg-green-500 hover:bg-green-700 text-white font-bold px-2 py-2 rounded-2xl cursor-pointer"
            (click)="addIndividualControl()">
            Add New Control
        </button>
    </div>

    <!--BEGIN Individual Control-->
    @for(c of formSchema().controls; track idx; let idx = $index)
    {
    <div class="grid grid-cols-5 gap-4 items-end mb-4">
        <div>
            <label for="nameLabel_{{idx}}" class="block text-xs font-medium text-gray-500 mb-1">Name/Label</label>
            <input type="text" id="nameLabel_{{idx}}"
                class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600"
                [(ngModel)]="c.label">
        </div>

        <div>
            <label for="controlType_{{idx}}" class="block text-xs font-medium text-gray-500 mb-1">Control Type</label>
            <select id="controlType_{{idx}}"
                class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600"
                [(ngModel)]="c.type">
                <option value="" disabled selected>Select Type</option>
                <option value="text">Text</option>
                <option value="number">Number</option>
                <option value="dropdown">Dropdown</option>
            </select>
        </div>
        <div>
            <label for="defaultPlaceholder_{{idx}}" class="block text-xs font-medium text-gray-500 mb-1">Default</label>
            <input type="text" id="defaultPlaceholder_{{idx}}"
                class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600"
                [(ngModel)]="c.default">
        </div>
        <div>
            <button
                class="w-full bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-2xl ml-4 cursor-pointer"
                (click)="addIndividualControlValidation(idx)">
                Add Validations
            </button>

        </div>
        <div>

            <button
                class="w-full bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-2xl ml-2 cursor-pointer"
                (click)="deleteIndividualControl(c.controlId)">
                Delete Control
            </button>
        </div>
    </div>
    }
    <!--END Individual Control-->

    <!--BEGIN Form Group-->
    <div *ngFor="let group of formSchema().groups; let i = index" class="mb-6 border border-red-500 rounded-md p-4">
        <div class="flex  items-end mb-4">
            <div>
                <label for="groupName_{{i}}" class="block text-xs font-medium text-gray-500 mb-1">Group Name</label>
                <input type="text" id="groupName_{{i}}"
                    class="w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600"
                    [(ngModel)]="group.name">
            </div>

            <div>
                <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-2xl ml-2 cursor-pointer"
                    (click)="deleteGroup(group.groupId)">
                    Delete Group
                </button>
            </div>
        </div>

        <div *ngFor="let control of group.controls; let j = index" class="grid grid-cols-5 gap-4 items-end mb-4">
            <div>
                <label for="nameLabel_{{i}}_{{j}}"
                    class="block text-xs font-medium text-gray-500 mb-1">Name/Label</label>
                <input type="text" id="nameLabel_{{i}}_{{j}}"
                    class="w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600"
                    [(ngModel)]="control.label">
            </div>
            <div>
                <label for="controlType_{{i}}_{{j}}" class="block text-xs font-medium text-gray-500 mb-1">Control
                    Type</label>
                <select id="controlType_{{i}}_{{j}}"
                    class="w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600"
                    [(ngModel)]="control.type">
                    <option value="" disabled selected>Select Type</option>
                    <option value="text">Text</option>
                    <option value="number">Number</option>
                    <option value="dropdown">Dropdown</option>
                </select>
            </div>
            <div>
                <label for="defaultPlaceholder_{{i}}_{{j}}"
                    class="block text-xs font-medium text-gray-500 mb-1">Default</label>
                <input type="text" id="defaultPlaceholder_{{i}}_{{j}}"
                    class="w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600"
                    [(ngModel)]="control.default">
            </div>
            <div>
                <button
                    class="w-full bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-2xl ml-4 cursor-pointer"
                    (click)="addValidationInGroup(i, j)">
                    Add Validations
                </button>
            </div>
            <div>
                <button
                    class="w-full bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-2xl ml-2 cursor-pointer"
                    (click)="deleteControlInGroup(i, control.controlId)">
                    Delete Control
                </button>
            </div>
        </div>
        <div>
            <button class=" bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-2xl cursor-pointer"
                (click)="addControlInGroup(i)">
                Add Control
            </button>
        </div>
    </div>
    <!--END Form Group-->
</div>
<br /><br /><br />

<!--BEGIN Dynamic Form Preview-->
<div class="isolate bg-white px-6 py-24 sm:py-32 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
        <h2 class="text-4xl font-semibold tracking-tight text-balance text-gray-900 sm:text-5xl">{{formTitle}}</h2>
        <p class="mt-2 text-lg/8 text-gray-600">{{subHeader}}</p>
    </div>
    <form [formGroup]="form" class="mx-auto mt-16 max-w-xl sm:mt-20">
        <div class="grid gap-x-8 gap-y-6 sm:grid-cols-2">
            @for (key of getControls(form); track key) {
            <ng-container [formGroup]="form">
                @if (isFormGroup(form.get(key))) {
                <fieldset [formGroupName]="key">
                    <div class="block text-md/6 font-semibold text-gray-900">{{ key }}</div>
                    @for (childKey of getControls(form.get(key)); track childKey) {
                    <ng-container>
                        <div class="mb-4">
                            <label for="input-{{key}}-{{childKey}}"
                                class="block text-xs font-medium text-gray-500 mb-1">
                                {{ childKey }}
                            </label>
                            <input [formControlName]="childKey" id="input-{{key}}-{{childKey}}"
                                class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600" />
                        </div>
                    </ng-container>
                    }
                </fieldset>
                } @else {
                <div class="mb-4">
                    <label for="input-{{key}}" class="block text-xs font-medium text-gray-500 mb-1">
                        {{ key }}
                    </label>
                    <input [formControlName]="key" id="input-{{key}}"
                        class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600" />
                </div>
                }
            </ng-container>
            }
        </div>
    </form>
</div>
<!--BEGIN Dynamic Form Preview-->